<div class="header">
  <a href="https://github.com/Maimer/ruby_racer"><img class="logo" src="/images/header.png"></a>
</div>
<div class="scorestable">
  <table>
    <thead>
      <tr>
        <td><img src="/images/name1.png"></td>
        <td><img src="/images/score1.png"></td>
        <td><img src="/images/fl.png"></td>
        <td><img src="/images/coin1.png"></td>
        <td><img src="/images/date.png"></td>
      </tr>
    </thead>
    <tbody class="scoresbody">
    <% @scores.each do |score| %>
      <tr>
        <td class="row1"><%= score["name"] %></td>
        <td class="row2"><%= score["score"].to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></td>
        <td class="row3"><%= score["floor"] %></td>
        <td class="row4"><%= score["coins"] %></td>
        <td class="row5"><%= Time.parse(score["created_at"]).strftime("%b %d") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br><br><br>
</div>
